@import "tailwindcss";

:root {
    --orange-color: #FE6F17;
    --primary-color: #037244;
    --blue: #0045F8;
}
.container-custom {
    width: 100%;
    margin-inline: auto;
}

@media (min-width: 640px) {
    .container-custom {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-custom {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-custom {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container-custom {
        max-width: 1280px;
    }
}

/* @media (min-width: 1536px) {
    .container-custom {
        max-width: 1536px;
    }
} */

/* etc */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
}
