@import "tailwindcss";

:root {
    --orange-color: #FE6F17;
    --primary-color: #037244;
    --primary-color-light:#03724421;
    --blue-color: #0045F8;
}
.container-custom {
    width: 90%;
    margin-inline: auto;
}

@media (min-width: 640px) {
    .container-custom {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-custom {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-custom {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container-custom {
        max-width: 1280px;
    }
}

.hover-effect-for-dropdown-links a, .hover-effect-for-dropdown-links li>button{
    @apply flex px-4 py-2 hover:bg-[var(--primary-color-light)] rounded-md;
}
/* etc */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
}
